<!--<p>oam-assistant-chat works!</p>
<h3>Fab Buttons</h3>
<div class="example-button-row" class="custom-font">
  <button mat-fab class="custom-font" font>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>mic</mat-icon>
  </button>
  <a mat-fab routerLink=".">Link</a>
</div>
<mat-card class="mat-typography" class="custom-font">
  Contenido del componente
</mat-card>
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .container {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .section1 {
        flex: 1;
        background-color: #fff;
        margin: 0 auto;
        overflow: auto;
      }

      .section2 {
        height: 20%;
        background-color: #fff;
        margin: 0 auto;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <p>
      <mat-toolbar class="top-bar">
        <span>Hackaton 2023 - Bienvenidos a Bisa Seguros Inteligente</span>
      </mat-toolbar>
    </p>

    <div *ngIf="!isUserKnoww">
      <h2>Por favor ingresa tu numero de carnet ....</h2>
      <div class="parent-container">
        <form
          [formGroup]="StartFieldsform"
          class="example-form btn-row-container btn-file-container"
        >
          <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Documento de Identidad:</mat-label>
            <input
              class="input-text"
              matInput
              placeholder="Ej: 9090121"
              formControlName="docNo"
            />
          </mat-form-field>
        </form>

        <button
          class="btn-row-container"
          (click)="onSubmitStartForm()"
          mat-fab
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="isUserKnoww">
      <div class="container">
        <div class="section1">
          <!-- Contenido de la sección 1 -->
          <div style="height: 10000px">
            <div>
              <mat-card
                *ngFor="let message of messageHistory"
                class="card"
                [ngClass]="{
                  'bs-card': !message.isUser,
                  'user-card': message.isUser
                }"
              >
                <mat-card-header>
                  <div
                    mat-card-avatar
                    class="bs-header-image"
                    [ngClass]="{
                      'bs-header-image': !message.isUser,
                      'user-header-image': message.isUser
                    }"
                  ></div>
                  <mat-card-title>{{ message.owner }}</mat-card-title>
                  <mat-card-subtitle>{{ message.time }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    {{ message.message }}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button><mat-icon>play_arrow</mat-icon></button>
                  <button mat-button><mat-icon>pause</mat-icon></button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="section2">
          <!-- Contenido de la sección 2 -->

          <div class="parent-container">
            <form
              [formGroup]="MessageFieldsform"
              class="example-form btn-row-container btn-file-container"
            >
              <mat-form-field class="field-full-width" appearance="fill">
                <mat-label>Escribe tu consultas</mat-label>
                <textarea
                  class="input-text"
                  matInput
                  placeholder="Mi póliza puede cubrirme..."
                  formControlName="textMessage"
                ></textarea>
              </mat-form-field>
            </form>

            <button
              class="btn-row-container"
              (click)="recordAudio()"
              mat-fab
              aria-label="Example icon-button with a heart icon"
            >
              <mat-icon>mic</mat-icon>
            </button>
            <button
              class="btn-row-container"
              (click)="onSubmitChatMessage()"
              mat-fab
              aria-label="Example icon-button with a heart icon"
            >
              <mat-icon>send</mat-icon>
            </button>
            <audio id="audioPlayer" controls>
              <source type="audio/mp3" />
              Tu navegador no soporta la etiqueta de audio.
            </audio>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
