.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.custom-font {
  font-family: "Laila", sans-serif;
  /* Agrega cualquier otro estilo que desees */
}

/* chat-message.component.css */
.message-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  max-width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.message-user-photo {
  width: 20%;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.message {
  width: 80%;
  padding: 5px;
  max-width: 50%;
  background-color: #0084ff;
  border-radius: 5px;
  color: white;
}

.message-sender {
  font-weight: bold;
}

.message-text {
  display: block;
  white-space: pre-wrap;
}

.card {
  margin-top: 20px;
  width: 600px;
}

.bs-card {
  border-radius: 0px 40px 40px 40px;
  background-color: #ecf2ff;
  margin-right: 60px;
}

.bs-header-image {
  background-image: url("src/assets/bisaseguros.png");
  background-size: cover;
}

.user-card {
  border-radius: 40px 0px 40px 40px;
  background-color: #ffe5e5;
  margin-left: 60px;
}

.user-header-image {
  background-image: url("src/assets/emptyuser.png");
  background-size: cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}

.parent-container {
  text-align: center;
}

.btn-row-container {
  margin-right: 1rem;
}

.btn-file-container {
  display: inline-block;
  background-color: #fdf4f5;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  margin-right: 1rem;
}

.top-bar {
  background-color: #e60d50;
  color: #fff;
}

.input-text {
  color: #e60d50;
}
